<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	name="Yoast WHIP"
	xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">

	<description>Yoast WHIP rules for PHP_CodeSniffer</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/PHPCSStandards/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<file>.</file>

	<!-- Only check PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Show progress, show the error codes for each message (source). -->
	<arg value="ps"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Cache the results between runs. -->
	<arg name="cache" value="./.cache/phpcs.cache"/>


	<!--
	#############################################################################
	USE THE YoastCS RULESET
	#############################################################################
	-->

	<rule ref="Yoast">
		<properties>
			<!-- Set the minimum supported WP version for all sniff which use it in one go. -->
			<property name="minimum_wp_version" value="3.0"/>

			<!-- Provide the plugin specific prefixes for all naming related sniffs. -->
			<property name="prefixes" type="array">
				<element value="Yoast\WHIP"/>
				<element value="Yoast\WHIPv2"/>
				<element value="whip"/>
			</property>

			<property name="psr4_paths" type="array">
				<element key="Yoast\WHIPv2\\" value="src/"/>
				<element key="Yoast\WHIP\Tests\\" value="tests/"/>
			</property>
		</properties>

		<!-- Historically, this library has used camelCaps not snakecase for variable and function names. -->
		<exclude name="WordPress.NamingConventions.ValidVariableName"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName"/>

		<!-- Exclude select "modern PHP" sniffs, which conflict with the minimum supported PHP version of this package. -->
		<exclude name="SlevomatCodingStandard.Functions.StaticClosure"/><!-- PHP 5.4+ -->
		<exclude name="SlevomatCodingStandard.Classes.ModernClassNameReference"/><!-- PHP 5.5+ -->
		<exclude name="Modernize.FunctionCalls.Dirname.Nested"/><!-- PHP 7.0+. -->
		<exclude name="SlevomatCodingStandard.ControlStructures.RequireNullCoalesceOperator"/><!-- PHP 7.0+. -->
		<exclude name="PSR12.Properties.ConstantVisibility"/><!-- PHP 7.1+. -->
		<exclude name="SlevomatCodingStandard.TypeHints.NullableTypeForNullDefaultValue"/><!-- PHP 7.1+. -->
		<exclude name="SlevomatCodingStandard.Functions.RequireTrailingCommaInCall"/><!-- PHP 7.3+. -->
		<exclude name="SlevomatCodingStandard.ControlStructures.RequireNullCoalesceEqualOperator"/><!-- PHP 7.4+. -->
		<exclude name="SlevomatCodingStandard.Numbers.RequireNumericLiteralSeparator"/><!-- PHP 7.4+. -->
	</rule>

	<!-- Check that variable names are in camelCaps. -->
	<rule ref="Squiz.NamingConventions.ValidVariableName">
		<!-- Private properties should, however, *not* start with an underscore. -->
		<exclude name="Squiz.NamingConventions.ValidVariableName.PrivateNoUnderscore"/>
	</rule>

	<!-- Check that function and method names are in camelCaps. -->
	<rule ref="Generic.NamingConventions.CamelCapsFunctionName">
		<properties>
			<!-- Allow for two adjacent capital letters for acronyms. -->
			<property name="strict" value="false"/>
		</properties>

		<!-- Exclude WordPress example function. -->
		<exclude-pattern>/src/Facades/wordpress\.php$</exclude-pattern>

		<!-- Exclude mocks of WP Core functions which comply with the WP function name rules instead. -->
		<exclude-pattern>/tests/Unit/Doubles/WpCoreFunctionsMock\.php$</exclude-pattern>
	</rule>


	<!--
	#############################################################################
	SELECTIVE EXCLUSIONS
	Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
	#############################################################################
	-->

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<!-- Valid usage: For testing purposes, allow non-prefixed globals. -->
		<exclude-pattern>/tests/Unit/Doubles/WPCoreFunctionsMock\.php$</exclude-pattern>
	</rule>

	<rule ref="Yoast.NamingConventions.ValidHookName.WrongPrefix">
		<!-- Valid usage: Example code for external users of the module. -->
		<exclude-pattern>/src/Facades/wordpress\.php$</exclude-pattern>
	</rule>

	<!-- The variable parameters passed to the WHIP exceptions are mostly used to retrieve
		 the _type_ of the variable. Additionally, we may not be in a WP context. -->
	<rule ref="WordPress.Security.EscapeOutput.ExceptionNotEscaped">
		<severity>0</severity>
	</rule>

	<rule ref="Yoast.Files.FileName.InvalidFunctionsFileName">
		<exclude-pattern>/src/Facades/wordpress\.php$</exclude-pattern>
		<exclude-pattern>/tests/Unit/Doubles/WPCoreFunctionsMock\.php$</exclude-pattern>
	</rule>

	<!--
	#############################################################################
	TEMPORARY TWEAK
	YoastCS demands short arrays (PHP 5.4), but the WHIP module still supports PHP 5.3.
	#############################################################################
	-->

	<rule ref="Universal.Arrays.DisallowShortArraySyntax">
		<severity>5</severity>
	</rule>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax">
		<severity>0</severity>
	</rule>


	<!--
	#############################################################################
	TEMPORARY ADJUSTMENTS
	Adjustments which should be removed once the associated issue has been resolved.
	#############################################################################
	-->

	<!-- Textdomain is passed in dynamically which will not work correctly with gettext().
		 Ticket: https://github.com/Yoast/whip/issues/2 -->
	<rule ref="WordPress.WP.I18n.NonSingularStringLiteralDomain">
		<exclude-pattern>/src/Messages/HostMessage\.php$</exclude-pattern>
		<exclude-pattern>/src/Messages/UpgradePhpMessage\.php$</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.DynamicHooknameFound">
		<!-- These hook setups should be reviewed.
			 Ticket: https://github.com/Yoast/whip/issues/67 -->
		<exclude-pattern>/src/Host\.php$</exclude-pattern>
		<exclude-pattern>/src/Messages/UpgradePhpMessage\.php$</exclude-pattern>
	</rule>

</ruleset>
