name: Test

on:
  # Run on relevant pushes to `main` and on all relevant pull requests.
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - '.phpcs.xml.dist'
      - 'phpcs.xml.dist'
      - 'config/**'
      - '.github/dependabot.yml'
      - '.github/workflows/cs.yml'
      - 'images/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitattributes'
      - '.gitignore'
      - 'LICENSE'
      - '.phpcs.xml.dist'
      - 'phpcs.xml.dist'
      - 'config/**'
      - '.github/dependabot.yml'
      - '.github/workflows/cs.yml'
      - 'images/**'
  # Allow manually triggering the workflow.
  workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php_version: ['5.4', '5.5', '5.6', '7.0', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3']
        coverage: [false]

        # Run code coverage only on high/medium/low PHP.
        include:
        - php_version: 5.3
          coverage: true
        - php_version: 7.2
          coverage: true
        - php_version: 8.4
          coverage: true

    name: "Lint and test: PHP ${{ matrix.php_version }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          ini-values: zend.assertions=1, assert.exception=1, error_reporting=-1, display_errors=On, display_startup_errors=On
          coverage: ${{ matrix.coverage == true && 'xdebug' || 'none' }}
          tools: cs2pr

      # YoastCS 3.0 has a PHP 7.2 minimum which conflicts with the requirements of this package.
      - name: 'Composer: remove YoastCS'
        run: composer remove --dev yoast/yoastcs --no-update --no-interaction

      # Install dependencies and handle caching in one go.
      # @link https://github.com/marketplace/actions/install-php-dependencies-with-composer
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          # Bust the cache at least once a month - output format: YYYY-MM.
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Lint against parse errors
        run: composer lint -- --checkstyle | cs2pr

      - name: Run the unit tests
        if: ${{ matrix.coverage == false }}
        run: composer test

      - name: Run the unit tests with code coverage
        if: ${{ matrix.coverage == true }}
        run: composer coverage

      - name: Upload coverage results to Coveralls
        if: ${{ success() && matrix.coverage == true }}
        uses: coverallsapp/github-action@v2
        with:
          format: clover
          file: build/logs/clover.xml
          flag-name: php-${{ matrix.php_version }}
          parallel: true

  coveralls-finish:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
